body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    background-color:#E4F6FF ;
}


.header, .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav{
    position: fixed;
    top: 10;
    left: 10;
    right: 10;
    height: 70px;
    width:99%;
    background-color:#cfcfcf;
    z-index: 100;
    color: #000000;
    border-radius: 4px;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 10px;
}


.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);    
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:#000000;
    opacity: 0;
    transition: all 0.3s ease; 
}

.nav-links li:hover a::before{
    opacity: 1;
}

/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Two equal columns */
    grid-template-rows: auto;
    /* Four equal rows */
    gap: 10px;
    row-gap: 10px;
    padding: 10;
    position: relative;
    padding-top: 80px;
}

.grid-item {
    background-color: #cfd0d2;
    color: rgb(9, 8, 8);
    padding: 20px;
    text-align: justify;
    border-radius: 4px;
}

.item-1 { /*section 1*/
    grid-column: 2 / 5;
    grid-row: span 1;
    font-size: 20px;
    height: 70px;
}

.item-2 { /*aside*/
    grid-column: span 1;
    grid-row: 1 / 4;
}

.item-3 { /*section 2*/
    margin-top: 1px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.item-4 {/*section 3*/
    margin-top: 1px;
    position: relative;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-content:flex-end;
}

.item-5 { /*section 4*/
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.item-6 { /*section 5*/
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#title-1{
    text-align: center;
}
.title {
    text-align: center;
    border: 2px solid #ccc; 
    padding: 15px; /*borde interno*/
    margin-top: 20px; /* Separación superior con el contenido anterior */
    background-color: #dbdbdb; /* Fondo ligeramente gris */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.testimonio {
    border: 2px solid #ccc; 
    padding: 15px; /*borde interno*/
    margin-top: 20px; /* Separación superior con el contenido anterior */
    background-color: #dbdbdb; /* Fondo ligeramente gris */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.testimonio h4 {
    margin: 0; /* Eliminar márgenes */
    font-size: 1.2em; /* Tamaño de fuente para el nombre */
    color: #333; /* Color de texto oscuro */
}

.testimonio h5 { 
    margin: 10px 0 0 0; /* Separación superior */
    font-size: 1em; /* Tamaño de fuente para el testimonio */
    color: #555; /* Color de texto más claro */
    font-style: italic; /* Estilo cursiva para el testimonio */
}


/*FOOTER*/

footer {
    margin-top: 10px;
    background-color: #cfcfcf;
    color: #000000;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer a {
    text-decoration: none; 
}

footer img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    width: 30px; 
    height: 31px;
}