body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F4F4F9; /* Fondo general */
    color: #2C3E50;
}


.header, .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav{
    top: 10;
    left: 10;
    right: 10;
    height: 100px;
    width:100%;
    z-index: 100;
    background-color: #2C3E50; /* Header */
    color: #FFFFFF;
    border-radius: 4px;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.right-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea "Contact Us" a la derecha */
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}


.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);    
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:#000000;
    opacity: 0;
    transition: all 0.3s ease; 
}

.nav-links li:hover a::before{
    opacity: 1;
}


/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Two equal columns */
    grid-template-rows: auto;
    /* Four equal rows */
    gap: 10px;
    row-gap: 10px;
    padding: 10;
    padding-top: 10px;
}

.grid-item {
    background-color: #FFFFFF; /* Fondo de grids */
    border: 1px solid #D1D1D1;
    padding: 10px;
    text-align: justify;
    border-radius: 4px;
    height: auto; 
    margin: 0;
}

.item-1 { /*section 1*/
    grid-column: 2 / 5;
    margin: 0;
    grid-row: span 1;
    font-size: 20px;
    height: 60px;
}

.item-2 { /*aside*/
    grid-column: span 1;
    grid-row: 1 / 4;
}

.item-3 { /*section 2*/
    margin-top: 1px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.item-4 {/*section 3*/
    margin-top: 1px;
    display: flex;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-content:center;
    align-items: center;
}

.item-5 { /*section 4*/
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.item-6 { /*section 5*/
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#title-1{
    text-align: center;
}
.title {
    text-align: center;
    border: 2px solid #1e2a37; 
    padding: 15px; /*borde interno*/
    margin-top: 20px; /* Separación superior con el contenido anterior */
    background-color: #2C3E50; /* Fondo ligeramente gris */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159); /* Sombra suave */
    color: #ffffff;
}

.testimonio {
    border: 2px solid #ccc; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: #dbdbdb; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}  

.main-title img,h4{
    display: inline-block;
    vertical-align: middle; 
    color: #000000;
}


.testimonio h5 { 
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #555; 
    font-style: italic; 
}

.main-grid {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.main-grid img {
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.text-container {
    background-color: #f4f4f9; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(107, 107, 107, 0.36); 
    flex: 1; 
    text-align: center;
    display: flex;
    justify-content: center;
}

/*FOOTER*/

footer {
    margin-top: 10px;
    background-color: #34495E; /* Footer */
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

footer a {
    text-decoration: none; 
}

footer img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    width: 30px; 
    height: 31px;
}