body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F4F4F9; 
    color: #2C3E50;
}


.header, .grid-container, nav {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

nav{
    top: 10;
    left: 10;
    right: 10;
    height: 100px;
    background-color: #2C3E50; /* Header */
    color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; /* Ajusta el padding si es necesario */
    box-sizing: border-box;
    max-width: none;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.right-menu {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    right: 10px;
    margin-left: auto; 
}

.nav-bar {
    margin: 0 5px;
    list-style: none;
}

.btn-1 {
    margin-top: auto; 
}

.estilo:hover {
    background-color: #c4c4c55b; 
}

.estilo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F4F4F9; 
    color: #2C3E50;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}


/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Two equal columns */
    grid-template-rows: 2fr, 2fr, 2fr;
    /* Four equal rows */
    gap: 10px;
    row-gap: 10px;
    padding: 10;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-item {
    background-color: #FFFFFF; /* Fondo de grids */
    border: 1px solid #D1D1D1;
    padding: 10px;
    text-align: justify;
    border-radius: 4px;
    height: auto; 
    margin: 0;
}

#title-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el elemento ocupe toda la altura del contenedor */
    margin: 0; /* Elimina márgenes por defecto */
}

.item-1 { /*section 1*/
    grid-column: 2 / 5;
    margin: 0;
    grid-row: span 1;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.item-2 { /*aside*/
    grid-column: span 1;
    grid-row: 1 / 4;
}

.item-3 { /*section 2*/
    margin-top: 1px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.item-3 ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-top: 20px;
}
.item-4 {/*section 3*/
    margin-top: 1px;
    display: flex;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-content:center;
    align-items: center;
}

.item-5 { /*section 4*/
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.item-6 { /*section 5*/
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.title {
    text-align: center;
    border: 2px solid #1e2a37; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: #2C3E50; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159); 
    color: #ffffff;
}

.testimonio {
    border: 2px solid #ccc; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: #dbdbdb; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}  

.main-title img,h4{
    display: inline-block;
    vertical-align: middle; 
    color: #000000;
}


.testimonio h5 { 
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #555; 
    font-style: italic; 
}

.main-grid {
    display: flex;
    align-items: center; 
}

.text-container {
    background-color: #f4f4f9; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(107, 107, 107, 0.36); 
    flex: 1; 
    text-align: center;
    display: flex;
    justify-content: center;
}

/*FOOTER*/

footer {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50;
    border-radius: 4px;
}

footer h4 {
    margin-bottom: 10px;
    color: #ffffff;
}

footer .social-icons {
    margin-top: 10px;
}

footer a {
    text-decoration: none; 
}

footer img {
    display: inline-block;
    margin: 0 auto 10px;
    width: 30px; 
    height: 31px;
}



/*FORM*/


#h2{
    text-align: center;
    padding: 15px 0 15px 0;
    
}

#all-info{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    column-gap: 0px;
}

#info{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 45px;
}

#info>p{
    width: 50%;
}

.label-input{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: column;
    gap: 2px;
}

input, textarea{
    border: 1px solid #ccc;
    padding: 4px 12px;
    border-radius: 0.5rem;
}

#texto{
    border: 2px solid #ccc; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: #dbdbdb; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 47%;
}

.fondo img{
    width: 400px;
    height: 200px;
}

.btn-2{
    color: #F4F4F9; 
    background-color: #2C3E50;
    margin-bottom: 30px;
}

.label-input {
    text-align: center;
    border: 2px solid #ccc; 
    padding: 10px; 
    padding-bottom: 0;
    margin-top: 0; 
    background-color: #dbdbdb; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159); 
    color: #2C3E50;
    width: 55%;
    margin-bottom: 10px;
}